<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ARM</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/home">
                        ARM
                    </a>
                </li>
				<li>
				<a href="/TeamMember">Team Members</a>
				</li>
				<li>
				<a href="/SecurityCompany">Security Companies</a>
				</li>
				<li>
				<a href="/DeveloperRank">Developers' Ranking</a>
				</li>
				<li>
				<a href="/Application">Leaks in Apps</a>
				</li>

           </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="container">
            <br />
            <h1 id="app_name"> </h1>
            <br />
            <!--table-->
            <table class="table table-hover table table-bordered" id="leak_info_table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Source</th>
                        <th scope="col">Sink</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
            <!--/table-->
        </div>

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script>
        $("#wrapper").toggleClass("toggled");
        var url = location.href;
        var aname = url.split('/')[4];
        console.log("app name:" + aname);
        $("#app_name").text("Leak of " + aname);

	    $.get("/leak?aname=" + aname, function (data) {
			console.log(data);
			fillTable(data);
	    });

        function fillTable(data) {
	          var length = data.source.length;
	          var i;
	          for (i = 0; i < length; i++) {
	                  add_row(i, data);
	          }
	     }
		
		 function add_row(i, data) {
			var table = document.getElementById('leak_info_table');
			var row = table.insertRow(i+1); // 하단에 추가
			var cell = new Array(3);
			var j;
			for (j = 0; j < cell.length; j++) {
					cell[j] = row.insertCell(j);
			}
			cell[0].innerHTML = i+1; 
			cell[1].innerHTML = data.source[i];
			cell[2].innerHTML = data.sink[i];
	    }

	</script>
</body>
</html>
