<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ARM</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/home">
                        ARM
                    </a>
                </li>
				<li>
				<a href="/TeamMember">Team Members</a>
				</li>
				<li>
				<a href="/SecurityCompany">Security Companies</a>
				</li>
				<li>
				<a href="/DeveloperRank">Developers' Ranking</a>
				</li>
				<li>
				<a href="/Application">Leaks in Apps</a>
				</li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="container">
            <br />
            <h1>
                Application
            </h1><br />
            <!--table-->
            <table class="table table-hover table table-bordered" id="application_table">
                <thead>
                    <tr>
                        <th scope="col">Application Name</th>
                        <th scope="col">The number of Leak</th>
                        <th scope="col">Developer</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody id = "application_table_body">
                    <tr>
                    </tr>
                </tbody>
            </table>
            <!--/table-->
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script>
        $("#wrapper").toggleClass("toggled");
/*		var i =0;
		for(i=1; i<10; i++)
			add_row(i, "muno");
*/	
		 $("#application_table tr").click(function () {
             console.log("click");
             var tr = $(this);
             var td = tr.children();
             var app_name = td.eq(0).text();
             console.log(app_name);
             location.href = "/Application/" + app_name;
	    });

		
		$.get("/aa", function(data){
				console.log(data);
                fillTable(data);
				});
        
	   function fillTable(data) {
                var length = data.appName.length;
                var i;
                for (i = 0; i < length; i++) {
                        add_row2(i, data);
                }
        }

        function add_row(i, data) {
              var table = document.getElementById('application_table');
              var row = table.insertRow(i+1); // 하단에 추가
              var cell = new Array(4);
              var j;
              for (j = 0; j < cell.length; j++) {
                    cell[j] = row.insertCell(j);
              }
              cell[0].innerHTML = i;//data.appName[i];
             // cell[1].innerHTML = data.numLeak[i];
             // cell[2].innerHTML = data.dev[i];
             // cell[3].innerHTML = num2cate(data.cate[i]);
        }
		function add_row2(i, data) {
			var table_body = document.getElementById('application_table_body');
			var new_div = document.createElement('tr');
			var cell0 = document.createElement('td');
			var cell1 = document.createElement('td');
			var cell2 = document.createElement('td');
			var cell3 = document.createElement('td');
			cell0.innerHTML = data.appName[i];
			cell1.innerHTML = data.numLeak[i];
			cell2.innerHTML = data.dev[i];
			cell3.innerHTML = num2cate(data.cate[i]);
			cell0.setAttribute('scope', "col");
			cell1.setAttribute('scope', "col");
			cell2.setAttribute('scope', "col");
			cell3.setAttribute('scope', "col");
			var locstr = "location.href = '/Application/"+data.appName[i] + "'";
			cell0.setAttribute('onclick', locstr);
			cell1.setAttribute('onclick', locstr);
			cell2.setAttribute('onclick', locstr);
			cell3.setAttribute('onclick', locstr);
			console.log(locstr);
			new_div.appendChild(cell0);
			new_div.appendChild(cell1);
			new_div.appendChild(cell2);
			new_div.appendChild(cell3);
			table_body.appendChild(new_div);
		}
		function num2cate(num){
			//0: game, 1: productivity, 2: social, 3: wallpaper, 4:weather
			var cate;
			if(num ==0){
				cate = "game";
			}else if(num==1){
				cate = "productivity";
			}
			else if(num==2){
				cate = "social";
			}
			else if(num==3){
				cate = "wallpaper";
			}else{
				cate = "weather";
			}
			return cate;
		}

		$("#application_table tr").click(function () {
            console.log("click");
			var tr = $(this);
            var td = tr.children();
            var app_name = td.eq(0).text();
            console.log(app_name);
            location.href = "/Application/" + app_name;
        });
    </script>
</body>
</html>
