<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/home">
                        ARM
                    </a>
                </li>
                <li>
                    <a href="/TeamMember">Team Member</a>
                </li>
                <li>
                    <a href="/SecurityCompany">Security Company List</a>
                </li>
                <li>
                    <a href="/DeveloperRank">Developer Rank</a>
                </li>
                <li>
                    <a href="/Application">Application Analysis</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="container">
            <br />
            <h1>Best Developer</h1>
            <image src="images/kakao.png" width ="100" height ="100"></image>
            <h6> Kakao [2018/12/1st Week]</h6>
            <!--table-->
             <br />
            <h1>
                 Developer Rank
             </h1><br />
             <table class="table table-hover" id="developer_rank_table">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Developer</th>
                    <th scope="col">Applications</th>
                </tr>
            </thead>
        </table>
            <!--/table-->
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        $("#wrapper").toggleClass("toggled");
        var i;
        for (i = 1; i < 10; i++) {
            add_row(i);
        }

        function add_row(i) {
            var table = document.getElementById('developer_rank_table');
            var row = table.insertRow(i); // 하단에 추가
            var cell = new Array(3);
            var j;
            for (j = 0; j < cell.length; j++) {
                cell[j] = row.insertCell(j);
            }
            cell[0].innerHTML = i;
        }

        function delete_row(i) {
            var table = document.getElementById('company_list_table');
            table.deleteRow(i); // 하단부터 삭제
        }
            //http://bootstrap4.kr/docs/4.0/content/tables/
    </script>

</body>
</html>
