<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <script src="/js/web3.js"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/home">
                        ARM
                    </a>
                </li>
                <li>
                    <a href="/TeamMember">Team Members</a>
                </li>
                <li>
                    <a href="/SecurityCompany">Security Companies</a>
                </li>
                <li>
                    <a href="/DeveloperRank">Developers' Ranking</a>
                </li>
                <li>
                    <a href="/Application">Leaks in Apps</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <br />
                <h1 >
                    Welcome to ARMs!
                </h1>
                <h4>
                    The project is ARM is abbreviation of Application Reputation Management.</br>
					Nowadays, the biggest application market, Google play has been attacked the fact the quality of applications on its market is lower than Apple Store.</br>
					The quality includes Design, Functionality, Practicalness, and Security.</br> 
					Unfortunately, some applications leak your personal information into somewhere it shouldn't be belonged.</br>
					There are a lot of Security Companies who are willing to analyze the applications and find the citical LEAK </br>
					Google play will give ad points as a reward for finding the flaws in applications and the points can be used to advertise their product. </br>
					Find the leak and Check the rank of developer of your applications!!
                </h4>
                <br />

          
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Get Started</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
</body>

</html>
