<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/home">
                        ARM
                    </a>
                </li>
				<li>
				<a href="/TeamMember">Team Members</a>
				</li>
				<li>
				<a href="/SecurityCompany">Security Companies</a>
				</li>
				<li>
				<a href="/DeveloperRank">Developers' Ranking</a>
				</li>
				<li>
				<a href="/Application">Leaks in Apps</a>
				</li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!--table-->
        <div class="container">
            <br />
            <h1>
                Security Company List
            </h1><br />
            <table class="table table-hover" id="company_list_table">
                <thead>
                    <tr>
                        <th scope="col">Company</th>
                        <th scope="col">Add points</th>
                        <th scope="col">Total Number</th>
                        <th scope="col">Specialized Area</th>
                    </tr>
                </thead>
            </table>
            <!--/table-->
        </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script>
        $("#wrapper").toggleClass("toggled");
		//var socket = io();
		//data request
		//socket.emit("SCRequest", {});
		//data receive
		/*
		socket.on('SCReply', function (data) {
		       console.log(data);
		       fillTable(data);
		});
*/
		$.get("/sc", function(data){
			fillTable(data);
		});

        function fillTable(data) {
		         var length = data.cname.length;
		         var i;
		         for (i = 0; i < length; i++) {
		                   add_row(i, data);
		         }
		}

        function add_row(i, data) {
		       var table = document.getElementById('company_list_table');
		       var row = table.insertRow(i+1); // 하단에 추가
		       var cell = new Array(4);
		       var j;
		       for (j = 0; j < cell.length; j++) {
		             cell[j] = row.insertCell(j);
		       }
		       cell[0].innerHTML = data.cname[i];
		       cell[1].innerHTML = data.adPoint[i];
		       cell[2].innerHTML = data.appNum[i];
		       cell[3].innerHTML = num2cate(data.specialArea[i]);
		}

		function num2cate(num){
			//0: game, 1: productivity, 2: social, 3: wallpaper, 4:weather
			var cate;
			if(num ==0){
				cate = "game";
			}else if(num==1){
				cate = "productivity";
			}
			else if(num==2){
				cate = "social";
			}
			else if(num==3){
				cate = "wallpaper";
			}else{
				cate = "weather";
			}
			return cate;
		}
		
		
		
		function delete_row(i) {
            var table = document.getElementById('company_list_table');
            table.deleteRow(i); // 하단부터 삭제
        }
        //http://bootstrap4.kr/docs/4.0/content/tables/
    </script>
    

</body>

</html>
