<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/home">
                        ARM
                    </a>
                </li>
                <li>
                    <a href="/TeamMember">Team Member</a>
                </li>
                <li>
                    <a href="/SecurityCompany">Security Company List</a>
                </li>
                <li>
                    <a href="/DeveloperRank">Developer Rank</a>
                </li>
                <li>
                    <a href="/Application">Application Analysis</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <div class="container">
            <!-- Page Heading -->
             <br />
            <h1>
                Team Member
            </h1>

            <div class="row">
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <img class="card-img-top" src="images/dahyun.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                Dahyun Kang
                            </h4>
                            <p class="card-text">
                                <ul>
                                    <li>CSE Senior Student</li>
				    <li>Hobby : Reading books</li>
				    <li>Research Interest: Computer Vision</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <img class="card-img-top" src="images/jisoo.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                Kim Jisoo
                            </h4>
                            <p class="card-text">
                                <ul>
                                    <li>CSE Senior Student</li>
                                    <li> Hobby : Watching Movies</li>
                                    <li> Interest Area : Quant & Investement</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="images/beomjin.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                Beumjin Cho
                            </h4>
                            <p class="card-text">
                                <ul>
                                    <li>CSE Phd Student</li>
                                    <li>Hobby : Watching Movies</li>
                                    <li>Interest Area : Security & Startups</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!--Container-->
        </div>
        <!-- /#wrapper -->
        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script>
            $("#wrapper").toggleClass("toggled");
            //refer : https://github.com/BlackrockDigital/startbootstrap-3-col-portfolio/blob/master/index.html
        </script>

</body>

</html>
